@font-face {
    font-family: 'FuturaStd';
    font-weight: 300;
    src: 
         url('/fonts/futura/FuturaStd-Book.woff2') format('woff2'); /* Super Modern Browsers */
}
@font-face {
    font-family: 'FuturaStd';
    font-weight: 600;
    src: 
            url('/fonts/futura/FuturaStd-Bold.woff2') format('woff2'); /* Super Modern Browsers */
}