/*
 * Footer
 */
.icon-bar {
 display:flex;
}

.icon-bar a {
  flex:1;
  text-align: center;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 0;

  border-left:1px solid rgba(0,0,0,0.1);
  background:#EFCA51;
  color:rgba(0,0,0,0.5);
  text-decoration: none;
  text-transform: lowercase;

  &::after {
    content: ' ';
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 5px;
    background-color: rgba(0,0,0,0.3);

    opacity: 0;
    will-change: opacity;
    transition: opacity 150ms ease-in-out;
  }

  & i {
    font-size: 2.0rem;
  }


  &:first-child {
    border-left: 0;
  }

  &.active, &:hover {
    &::after {
      opacity: 1;
    }
  }
}
