/*
 * Footer
 */
.footer.icon-bar {
  display:flex;

  animation-name: slideToTop;
  animation-duration: 0.5s;

  overflow: hidden;
  background: var( --pantone-0_color );
  border-top: 1px solid var( --hr_color );

  color: var( --fg-soft_color );
}

.icon-bar a {
  text-align: center;
  position: relative;
  width: 50%;

  padding: 15px 0;
  padding-bottom: calc( 15px + 5px );
  color: inherit;

  border-left:1px solid rgba(0,0,0,0.1);
  text-decoration: none;

  // Active bar
  &::after {
    content: ' ';
    position: absolute;
    width: 100%;
    left: 0; bottom: 0px;
    height: 5px;
    background-color: var( --fg-soft_color );

    opacity: 0;
    will-change: opacity;
    transition: opacity 150ms ease-in-out;
  }

  // Icon
  & .icon { display: block; font-size: 1.5rem; }
  & .label { display: block; }

  &:first-child {
    border-left: 0;
  }

  /* Active state */
  &.active, &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    &::after {
      opacity: 1;
    }
  }
}
