/*
 * HexagramImage
 */
.hex-img , .tri-img {
  text-align: center;
  flex: 0 0 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  height: 100%;
  color: #000;
  background-color: transparent;

  .yin , .yang {
    width: 100%;
    height: 10.28%;

    & > span {
      float: left;
      width: 100%;
      height: 100%;
      background-color: #000;
    }
  }

  .yang > span {
    width: 35%;
  }

  .yang > span:first-child {
    float: left;
  }

  .yang > span:last-child {
      float: right;
  }
}


.tri-img {
  .yin , .yang {
    height: 20%;
  }
}
