/*
 * HexagramImage
 */
.hexagram-card {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #ddd;
  padding: 2.5% 5%;

  .hex-img {
    flex: 0 0 25%;
    min-height: 100px;
    height: 100px;
  }

  .title {
    flex: 1 1 50%;

    h1 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }

  .trigrams {
    flex: 0 0 25%;
    font-size: 0.75em;
    min-height: 100px;
    height: 100px;
  }
}
