/*
 * HexagramImage
 */
.hexagram-card {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 24px;

  .title {
    flex: 1;
    h3 {
      margin: 0px;
      font-size: 2.2em;
      padding-left: 24px;
      font-weight: 300;
    }
    .trigrams > div {
      padding-left: 24px;
    }
  }
}
