/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Tao_1 {
  background-image: url(tarot-sprite.png);
  background-position: -275px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_10 {
  background-image: url(tarot-sprite.png);
  background-position: 0px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_11 {
  background-image: url(tarot-sprite.png);
  background-position: -550px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_12 {
  background-image: url(tarot-sprite.png);
  background-position: 0px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_13 {
  background-image: url(tarot-sprite.png);
  background-position: -275px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_14 {
  background-image: url(tarot-sprite.png);
  background-position: -550px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_15 {
  background-image: url(tarot-sprite.png);
  background-position: -825px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_16 {
  background-image: url(tarot-sprite.png);
  background-position: -825px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_17 {
  background-image: url(tarot-sprite.png);
  background-position: -1100px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_18 {
  background-image: url(tarot-sprite.png);
  background-position: -1100px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_19 {
  background-image: url(tarot-sprite.png);
  background-position: 0px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_2 {
  background-image: url(tarot-sprite.png);
  background-position: -275px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_20 {
  background-image: url(tarot-sprite.png);
  background-position: -550px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_21 {
  background-image: url(tarot-sprite.png);
  background-position: -825px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_22 {
  background-image: url(tarot-sprite.png);
  background-position: -1100px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_23 {
  background-image: url(tarot-sprite.png);
  background-position: -1375px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_24 {
  background-image: url(tarot-sprite.png);
  background-position: -1375px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_25 {
  background-image: url(tarot-sprite.png);
  background-position: -1375px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_26 {
  background-image: url(tarot-sprite.png);
  background-position: 0px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_27 {
  background-image: url(tarot-sprite.png);
  background-position: -275px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_28 {
  background-image: url(tarot-sprite.png);
  background-position: -550px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_29 {
  background-image: url(tarot-sprite.png);
  background-position: -825px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_3 {
  background-image: url(tarot-sprite.png);
  background-position: -1100px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_30 {
  background-image: url(tarot-sprite.png);
  background-position: -1375px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_31 {
  background-image: url(tarot-sprite.png);
  background-position: -1650px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_32 {
  background-image: url(tarot-sprite.png);
  background-position: -1650px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_33 {
  background-image: url(tarot-sprite.png);
  background-position: -1650px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_34 {
  background-image: url(tarot-sprite.png);
  background-position: -1650px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_35 {
  background-image: url(tarot-sprite.png);
  background-position: -1925px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_36 {
  background-image: url(tarot-sprite.png);
  background-position: -1925px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_37 {
  background-image: url(tarot-sprite.png);
  background-position: -1925px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_38 {
  background-image: url(tarot-sprite.png);
  background-position: -1925px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_39 {
  background-image: url(tarot-sprite.png);
  background-position: 0px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_4 {
  background-image: url(tarot-sprite.png);
  background-position: -275px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_40 {
  background-image: url(tarot-sprite.png);
  background-position: -550px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_41 {
  background-image: url(tarot-sprite.png);
  background-position: -825px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_42 {
  background-image: url(tarot-sprite.png);
  background-position: -1100px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_43 {
  background-image: url(tarot-sprite.png);
  background-position: -1375px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_44 {
  background-image: url(tarot-sprite.png);
  background-position: -1650px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_45 {
  background-image: url(tarot-sprite.png);
  background-position: -1925px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_46 {
  background-image: url(tarot-sprite.png);
  background-position: -2200px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_47 {
  background-image: url(tarot-sprite.png);
  background-position: -2200px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_48 {
  background-image: url(tarot-sprite.png);
  background-position: -2200px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_49 {
  background-image: url(tarot-sprite.png);
  background-position: -2200px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_5 {
  background-image: url(tarot-sprite.png);
  background-position: -2200px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_50 {
  background-image: url(tarot-sprite.png);
  background-position: 0px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_51 {
  background-image: url(tarot-sprite.png);
  background-position: -275px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_52 {
  background-image: url(tarot-sprite.png);
  background-position: -550px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_53 {
  background-image: url(tarot-sprite.png);
  background-position: -825px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_54 {
  background-image: url(tarot-sprite.png);
  background-position: -1100px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_55 {
  background-image: url(tarot-sprite.png);
  background-position: -1375px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_56 {
  background-image: url(tarot-sprite.png);
  background-position: -1650px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_57 {
  background-image: url(tarot-sprite.png);
  background-position: -1925px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_58 {
  background-image: url(tarot-sprite.png);
  background-position: -2200px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_59 {
  background-image: url(tarot-sprite.png);
  background-position: -2475px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_6 {
  background-image: url(tarot-sprite.png);
  background-position: -2475px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_60 {
  background-image: url(tarot-sprite.png);
  background-position: -2475px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_61 {
  background-image: url(tarot-sprite.png);
  background-position: -2475px -1230px;
  width: 275px;
  height: 410px;
}
.icon-Tao_62 {
  background-image: url(tarot-sprite.png);
  background-position: -2475px -1640px;
  width: 275px;
  height: 410px;
}
.icon-Tao_63 {
  background-image: url(tarot-sprite.png);
  background-position: -2475px -2050px;
  width: 275px;
  height: 410px;
}
.icon-Tao_64 {
  background-image: url(tarot-sprite.png);
  background-position: -2750px 0px;
  width: 275px;
  height: 410px;
}
.icon-Tao_7 {
  background-image: url(tarot-sprite.png);
  background-position: -2750px -410px;
  width: 275px;
  height: 410px;
}
.icon-Tao_8 {
  background-image: url(tarot-sprite.png);
  background-position: -2750px -820px;
  width: 275px;
  height: 410px;
}
.icon-Tao_9 {
  background-image: url(tarot-sprite.png);
  background-position: -2750px -1230px;
  width: 275px;
  height: 410px;
}
