/* Wrapper */
.app-wrap {
  max-width: 420px;
  height: 80vh;
  margin: 5vh auto 5vh auto;
  border:10px solid rgba(0,0,0,0.8);
  border-bottom-width: 70px;
  border-radius:10px;
  box-shadow:0 0 50px  rgba(0,0,0,0.3);

  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

}

.app-wrap {
  display:flex;
  flex-direction:column;
}

/*
  Overall Layout
*/
.app-wrap > * {
  flex:1 1 auto;
}



/*
  Content
*/

.content {
  overflow-y:  overlay;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding: 0px 0px;
  //background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);

  background-color: #fff;
  will-change: transform, opacity;
}

@import '../components/footer.scss';
