@import '../components/footer.scss';


.cellphone-wrap {
  max-width: 320px;
  height: 80vh;
  margin: 10vh auto 10vh auto;

  border:10px solid rgba(0,0,0,0.8);
  border-bottom-width: 70px;
  border-radius:10px;
  box-shadow:0 0 50px  rgba(0,0,0,0.70);
}

/* Wrapper */
.app-wrap {
  display:flex;
  flex-direction:column;
}

/*
  Overall Layout
*/
.app-wrap > * {
  flex:1 1 auto;
}



/*
  Content
*/

.content {
  overflow-x: hidden;
  /* Trick: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */
  overflow-y:  overlay;
  -webkit-overflow-scrolling: touch;

  height: 100%;
  padding: 0px 0px;
  //background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);

  background-color: transparent;

  will-change: transform, opacity, background-color;
  transition: opacity 5.35s ease-out;
  opacity: 0;
}
