.detailspage-container {

  .interpretation {
    margin: 5% 5%;
    text-align: justify;
    line-height: 1.5em;

    q {
      font-family: 'Open Sans', 'Helvetica Neue', helvetica, sans-serif !important;
      text-align: justify;
      max-width: 100%;
      display: block;
      quotes: "\201C" "\201D";
      white-space: pre-wrap;
      font-style: italic;
      font-size: 1.3em;
    }

    q:before , q:after {
      font-family: -webkit-pictograph, fantasy;
      font-size: 1.5em;
    }


    .highlight {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;

      .tarot {
        flex: 1 1 40%;
        transform: scale3d(0.8,0.8,1.0);
      }

      .oracle {
        flex: 1 1 50%;
        font-style: italic;
        text-align: left;
      }
    }

    p {
      font-weight: lighter;
      letter-spacing: -0.5px;
    }

    /* subQuotes */
    hr + .subQuote,
    .line > .subQuote {
      margin: 1em;
    }

    h3 {
      text-transform: uppercase;
    }
  }
}
