
/*
 * Play Page
 */
.playpage-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  position: absolute;
  top: 0px;

  .canvas {
    flex: 1;
    min-height: 100%;
    min-width: 90%;

    flex-direction: column;
    display: flex;
    justify-content: space-around;

    .question {
      min-width: 100%;
      margin: 10% 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      transition: all 500ms ease-in-out;
      opacity: 1;

      &.hidden {
        opacity: 0;
        transform: translateY(-100px);
      }

      h1 {
        font-weight: 100;
      }
    }

    .ichingDragArea {
      min-width: 100%;
      height: 80%;
      text-align: center;

      flex: 3;
      display: flex;
      justify-content: center;
      flex-direction: row;

      .gongo {
        border-radius: 50%;
        width: 240px;
        height: 240px;

        box-shadow: 0px 0px 20px #000;
        border: none;
        cursor: pointer;
        background-color: transparent;
        background-image: url(/styles/img/iching-daylight.png);
        background-size: contain;

        will-change: transform;
        transform: scale(1.0);

        animation: forwards;

        &.down {
          transform: scale(0.95);
          box-shadow: 0px 0px 10px #000;
          transition: all 150ms ease-in-out;
        }

        &.hit {
          -moz-animation: spin 4.5s ease-out;
          -webkit-animation: spin 4.5s ease-out;
        }
      }

    }
  }

  .hexagram-card {
    position: absolute;
    bottom: 0em;
    left: 0px;
    min-width: 90%;
    height: 20%;
    cursor: pointer;
  }
}
