/*
 * Play Page
 */
.playpage-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 0px;

  .canvas {
    flex: 1;
    height: 100%;
    background-color: #fff;
  }

  .hexagram-card {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 2*24px);
  }
}
