.trigramlistpage-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .avatar {
    background-color: transparent !important;
  }

  .lineseparated {
    border-right: 1px solid #e0e0e0;
  }
  .lineseparated:last-child {
    border-right: 0;
  }

  .lower-trigrams , .upper-trigrams {
    width: 50%;
  }


  .trigramPreview {
    position: fixed;
    bottom: 0px;
  }
}
