* {
  box-sizing: border-box;
}
::selection {
  background: rgba(0,0,0,.9);
  color: #fff;
}

a { color: #ff4081; }

a:active, a:focus , button:active, button:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}


/*
 * Body loaded animation
 */
body.loaded {
  
  & #loading {
    animation-name: slideToTop;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;    
  }

  & .icon-loading > svg {
    animation-play-state: paused;
  }
}
