/* Styles */
@import 'fonts/material-icons/material-ui.css';
//@import 'fonts/abril-fatface/abril-fatface.css';
//@import 'fonts/roboto/Roboto.css';
@import 'fonts/cormorant/cormorant-italic.css';
@import 'fonts/Open_Sans/open_sans.css';
@import 'utils/animations.scss';
@import 'transitions.scss';

* {
  box-sizing: border-box;
}

a {
  color: #ff4081;
}

html , body {
  box-sizing: border-box;
  font-size: 1.0em;
  font-weight: lighter;
  letter-spacing: -1px;
  margin: 0;
  overflow: hidden;

  text-rendering: optimizeLegibility;

  /* Kerning */
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* Ligatures */
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;

  /* Discretionary ligatures */
  -moz-font-feature-settings:"dlig";
  -ms-font-feature-settings:"dlig";
  -webkit-font-feature-settings: "dlig";
  font-feature-settings:"dlig";

  /* Zero with slash */
  font-feature-settings: "zero";
  font-variant: slashed-zero;
}

/**
 * Font loading
 */
body { font-family: 'Helvetica Neue', helvetica, sans-serif; }
.cursive {font-family: serif; }

.mainfont-loaded {
  body {
    font-family: 'Open Sans', helvetica, sans-serif;
  }
}
.cursivefont-loaded {
  blockquote , q {
    font-family: 'Cormorant', serif;
  }
  .cursive {
    font-family: 'Cormorant', serif;
  }
}


body.loaded {
  background-color: #fff;
  color: #000;
}

*:focus {
    outline: 0;
}


@import 'pages/app-container.scss';
@import 'pages/play.scss';
@import 'pages/list.scss';
@import 'pages/trigramlist.scss';
@import 'pages/details.scss';


@import 'components/hexagram-card.scss';
@import 'components/hexagram-image.scss';
@import 'components/tarot_sprites.css';
@import 'responsive.scss';
