
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .app-wrap {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
  }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) { /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  body {
    font-size: 0.75em;
  }

  /* Smaller header and footer */
  .header {
    min-height: 48px !important;
    height: 48px !important;
    > div:nth-of-type(1) {
      margin-top: 0px !important
    }
    h1 {
      font-size: 1.5em !important;
      line-height: 48px !important;
    }
  }
  .footer.icon-bar i {
    font-size: 2.0em !important;
  }

  /* Smaller icons and title for hexagram-card */
  .hexagram-card {
    font-size: 1.0em !important;
    .title {
      flex: 0 0 55%;
    }
    .trigrams {
      flex: 0 0 20%;
    }
  }

  /* Smaller gongo */
  .ichingDragArea .gongo {
    width: 180px !important;
    height: 180px !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */ @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { /* Styles */ }

 /* iPads (portrait) ----------- */ @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { /* Styles */ }

 /* Desktops and laptops ----------- */
 @media only screen and (min-width : 1224px) {
   /* Styles */
}

/* Large screens ----------- */ @media only screen and (min-width : 1824px) { /* Styles */ }

/* iPhone 4 ----------- */ @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { /* Styles */ }
