$time: .4s;
$easing: cubic-bezier(0.23, 1, 0.32, 1) ;

/*
 * Transitions from pages (left/right translate)
 */
.page-transition-enter {
  position: absolute;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateX(100%);
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all $time $easing;
}

.page-transition-leave {
  position: absolute;
  opacity: 1;
  will-change: transform, opacity;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all $time $easing;
}

.page-transition-appear {
  position: absolute;
  opacity: 0;
}

.page-transition-appear.page-transition-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all $time $easing;
}






/*
 * Transition for hexagram-preview
 * (translateY , from bottom hidden to bottom of screen)
 */
.hexagram-preview-enter {
  transition: all $time $easing;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(100%);
}

.hexagram-preview-enter.hexagram-preview-enter-active {
  opacity: 1;
  transform: translateY(0px);
}

.hexagram-preview-leave {
  transition: all $time $easing;
  opacity: 1;
  will-change: transform, opacity;
  transform: translateY(0px);
}

.hexagram-preview-leave.hexagram-preview-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}

.hexagram-preview-appear {
  transition: all $time $easing;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(100%);
}
.hexagram-preview-appear.hexagram-preview-appear-active {
  opacity: 1;
  transform: translateY(0px);
}


/*
 * Question animation
 */
.question-enter {
  transition: all $time $easing;
  opacity: 0;
  will-change: transform, opacity , width;
  transform: translateY(-100%);
  width: 10%;
}
.question-enter.queston-enter-active  {
  width: 100%;
  opacity: 1;
  transform: translateY(0px);
}

.question-leave {
  transition: all $time $easing;
  opacity: 1;
  will-change: transform, opacity;
}
.question-leave.question-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}
