$time: .3s;
$easing: ease-in-out;

.page-transition-enter {
  transition: opacity $time $easing;
  opacity: 0;
  position: absolute;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}
.page-transition-leave {
  transition: opacity $time $easing;
  opacity: 1;
  position: absolute;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}
