$time: .3s;
$easing: cubic-bezier(0.23, 1, 0.32, 1) ;

/*
 * Transitions from pages (left/right translate)
 */
.page-transition-enter {
  position: absolute;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateX(100%);
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all $time $easing;
}

.page-transition-leave {
  position: absolute;
  opacity: 1;
  will-change: transform, opacity;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all $time $easing;
}

.page-transition-appear {
  position: absolute;
  opacity: 0;
}

.page-transition-appear.page-transition-appear-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all $time $easing;
}






/*
 * Transition for hexagram-preview
 * (translateY , from bottom hidden to bottom of screen)
 */
.hexagram-preview-enter {
  position: absolute;
  transition: all $time $easing;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(-50%);
}

.hexagram-preview-enter.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0px);
}

.hexagram-preview-leave {
  position: absolute;
  transition: all $time $easing;
  opacity: 1;
  will-change: transform, opacity;
}

.hexagram-preview-leave.page-transition-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}
