@keyframes spin {
  from {
    transform: rotate(-60deg);
  }

  to {
    transform: rotate(1440deg);
  }
}

/* sliding from Bottom (showing )*/
@keyframes slideFromBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Slide from up (showing) */
@keyframes slideFromTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* slide to Top  (hidding )*/
@keyframes slideToBottom {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes slideToTop {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}



@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

/*
 * Slide Bounce Down
 */

.slideBounceDown{
	animation-name: slideBounceDown;
	-webkit-animation-name: slideBounceDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
	-webkit-animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);

	visibility: visible !important;
}

@keyframes slideBounceDown {
	0% { transform: translateY(-100%); }
	50%{ transform: translateY(4%); }
	65%{ transform: translateY(-2%); }
	80%{ transform: translateY(2%); }
	95%{ transform: translateY(-1%); }
	100% { transform: translateY(0%); }
}

/*
 * Slide Up
 */

 .slideBounceUp{
 	animation-name: slideBounceUp;
 	-webkit-animation-name: slideBounceUp;

 	animation-duration: 1s;
 	-webkit-animation-duration: 1s;

 	animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);;
 	-webkit-animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);;

 	visibility: visible !important;
 }

 @keyframes slideBounceUp {
 	0% { transform: translateY(100%); }
 	50%{ transform: translateY(-4%); }
 	65%{ transform: translateY(2%); }
 	80%{ transform: translateY(-2%); }
 	95%{ transform: translateY(1%); }
 	100% { transform: translateY(0%); }
 }


