/* Rules in the format action-modifier */
:root {
  --center-block: { margin: 0 auto; };
  --center-abs: {
    top: 50%; left: 50%;
    transform: translate3d(-50%,-50%,0);
  };

  --box-block: { display: block; };
  --box-flex: { display: flex; };
  --box-inline: { display: inline-block; };
  --box-table: { display: table; };
}


/**
 * class for use in HTML
 */
.center-block { @apply --center-block; }
.center-abs   { @apply --center-abs; }

.box-block { @apply --box-block; }
.box-flex { @apply --box-flex; }
.box-inline { @apply --box-flex; }
.box-table { @apply --box-flex; }
