/*
 * Transitions from pages (left/right translate)
 */
.page-transition-enter {
  position: absolute;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateX(100%);
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all var(--time_trans) var(--quartOut_easing);
}

.page-transition-leave {
  position: absolute;
  opacity: 1;
  will-change: transform, opacity;
}

.page-transition-leave.page-transition-leave-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all var(--time_trans) var(--quartOut_easing);
}

.page-transition-appear {
  position: absolute;
  opacity: 0;
}

.page-transition-appear.page-transition-appear-acti  ve {
  opacity: 1;
  transform: translateX(0px);
  transition: all var(--time_trans) var(--quartOut_easing);
}






/*
 * Transition for hexagram-preview
 * (translateY , from bottom hidden to bottom of screen)
 */
.hexagram-preview-enter {
  animation-duration: var(--time_trans);
  animation-timing-function: var(--quartOut_easing);
  animation-fill-mode: both;
  opacity: 1;
}

.hexagram-preview-enter.hexagram-preview-enter-active {
  animation-name: slideFromBottom;
}

.hexagram-preview-leave {
  animation-duration: var(--time_trans);;
  animation-timing-function: var(--quartOut_easing);
  animation-fill-mode: both;
  opacity: 0;
}

.hexagram-preview-leave.hexagram-preview-leave-active {
  animation-name: slideToTop;
}

.hexagram-preview-appear {
  animation-duration: var(--time_trans);
  animation-timing-function: var(--quartOut_easing);
  animation-fill-mode: both;
}
.hexagram-preview-appear.hexagram-preview-appear-active {
  animation-name: slideFromTop;
}


/*
 * Question animation
 */
.lblquestion-appear {
  animation-duration: var(--time_trans);
  animation-timing-function: var(--quartOut_easing);
  animation-fill-mode: both;
  animation-delay: 400ms;
  opacity: 0;
  overflow: hidden;
}
.lblquestion-appear.lblquestion-appear-active {
  animation-name: slideFromBottom;
}