/* Variables in the format noun{-compound}_property */
:root {
  --icon_size: 24px;

  --bg_color: #fff;
  --fg_color: #000;
  --brand: tomato;
  // --brand: hsl(48, 90%, 84%);
  /* #e9d0a0; */
  --fg-soft_color: rgba(var(--fg_color), 0.5);
  --hr_color: rgba(var(--fg_color), 0.1);

  --time_trans: 0.24s;
  --bounce_easing: cubic-bezier(0.23, 1, 0.32, 1);
  --softOut_easing: cubic-bezier(0.52, 0.01, 0.16, 1);
  --quartOut_easing: cubic-bezier(0.165, 0.84, 0.44, 1);
}
