body.media-large {
  & ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
  & ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  & ::-webkit-scrollbar-thumb {
    background: #666666;
    border: 50px none #ffffff;
    border-radius: 50px;
  }
  & ::-webkit-scrollbar-thumb:hover {
    background: #333333;
  }
  & ::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  & ::-webkit-scrollbar-track {
    width: 0px; height: 0px;
    background: transparent;
  }
  & ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  & ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  & ::-webkit-scrollbar-corner {
    background: transparent;
  }
}