/**
 * For small devices (320px until 480px)
 */
body.media-small {
  /* Smaller icons and title for hexagram-card */
  & .hexagram-card {
    & .title {
      flex: 1 1 60%;
    }
  }

  & #copyleft {
    display: none;
  }

  & .app-wrap {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
  }

  & .icon-bar {
    min-height: 48px;
  }

  & .hexagram-card {
    & .trigrams {
      font-size: 1.5em;
    }
  }

  /* Details */
  & .detailspage-container .interpretation .highlight {
    //flex-direction: column-reverse;
  }
}